@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans');
body {
    height: 100%;
    width: 100%;
    background: cornflowerblue !important;
}

#submitButton {
    background-color: cornflowerblue;
    color: white;
    border: 2px solid white;
}

#submitButton:hover {
    background-color: white;
    color: cornflowerblue;
}