<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login / Signup</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../static/login_style.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <!--Formes-->
        <div class="forms">
            <!--Start Row-->
            <div class="row">

                <!--Start Login Form-->
                <div class="col-md-6 col-sm-12">
                    <div class="form-login">

                        <span class="desc-form">I am registered:</span>
                        <h2 class="title-form">Log In</h2>
                        <!--Start Form-->
                        <form class="login" action="{% url 'loginAuth' %}" method="POST">
                            <div class="input-container">
                                <input name="username" id="emai" placeholder="Username" required="required" />
                                <label for="emai">Username</label>
                            </div>

                            <div class="input-container">
                                <input type="password" name="password" id="pass" autocomplete="new-password" placeholder="Password" required="required" />
                                <label for="pass">Password</label>
                            </div>

                            <input class="btn btn-block" name="login" type="submit" value="Log in" />

                            <div class="footer-form">
                                <div class="pull-left">
                                </div>
                            </div>
                        </form>
                        <!--End Form-->
                    </div>
                </div>
                <!--End Login Form-->


                <!--Start Sign Up Form-->
                <div class="col-md-6 col-sm-12">
                    <div class="form-signup">
                        <span class="desc-form">Not registered:</span>
                        <h2 class="title-form">Sign up</h2>
                        <!--Start Form-->
                        <form class="signup" action="" method="POST">
                            <div class="input-container">
                                <input type="text" name="fullname" id="fullname" autocomplete="off" placeholder="Full Name" required="required" />
                                <label for="fullname">Full Name</label>
                            </div>
                            <div class="input-container">
                                <input type="password2" name="new-password" id="pass2" autocomplete="new-password" placeholder="Password" required="required" />
                                <label for="pass2">Password</label>
                            </div>

                            <input class="btn btn-block" name="signup" type="submit" value="Sign up" />
                        </form>
                        <!--end Form-->
                    </div>
                </div>


            </div>
            <!--End Row-->
        </div>
        <!--End forms-->
    </div>
    <!--End Container-->
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="../static/login_script.js"></script>

</body>

</html>
