<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" src="../static/survey_style.css">
    <style>
        .nav-pills>li.active>a,
        .nav-pills>li.active>a:hover,
        .nav-pills>li.active>a:focus {
            background-color: #6930f6;
            color: white;
        }
        
        a,
        a:hover {
            color: #6930f6;
        }
    </style>
</head>

<body style="background: #f7f7f7;">
    <div style=" margin-top: 5%; margin-left: 20%;overflow-x: auto; word-wrap:break-word;box-shadow: 10px 10px 10px 8px #888888; width: 60%">
        <div class="container-fluid" style="width: 100%">
            <div class="page-header" style="width: 100%">
                <span style="text-align: center"><h1>Survey Name<small>    created by admin</small></h1></span>
            </div>
            <div class="container-fluid" style="margin: 2%">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item active">
                        <a href="#1q" data-toggle="tab">Question 1</a>
                    </li>
                    <li class="nav-item"><a href="#2q" data-toggle="tab">Question 2</a>
                    </li>
                    <li class="nav-item"><a href="#3q" data-toggle="tab">Question 3</a>
                    </li>
                    <li class="nav-item"><a href="#4q" data-toggle="tab">Question 4</a>
                    </li>
                    <li class="nav-item"><a href="#5q" data-toggle="tab">Question 5</a>
                    </li>
                </ul>
            </div>


            <div class="tab-content clearfix" style="margin:2%; text-align: left;text-overflow:ellipsis">
                <div class="tab-pane active fade in" id="1q">
                    <h3>Plis copy Question 1</h3>

                    <div class="list-group" style="width: inherit">
                        <button type="button" class="list-group-item list-group-item-action" style="width: 50%">Blah Blah Blah</button>
                        <button type="button" class="list-group-item list-group-item-action" style="width: 50%">Blah Blah Blah Blah</button>
                        <button type="button" class="list-group-item list-group-item-action" style="width: 50%">Blah Blah </button>
                        <button type="button" class="list-group-item list-group-item-action" style="width: 50%">Please add a good background smh </button>
                    </div>

                </div>
                <div class="tab-pane fade" id="2q">
                    <h3>Copy Question 1 hahahahahahahahahahahahhahhahahahahahahahahahahahhahahahahahahahahhahahahahahahahhahahahahahahahahahahahahhahahahaha</h3>
                </div>
                <div class="tab-pane fade" id="3q">
                    <h3>Hahhahahahaha</h3>
                </div>
                <div class="tab-pane fade" id="4q">
                    <h3>Did you copy question 1</h3>
                </div>
                <div class="tab-pane fade" id="5q">
                    <h3>KthxBye</h3>
                </div>
            </div>

        </div>



        <div class="container-fluid" style="margin-left: 5%">
            <button id="submitButton" type="button" class="btn btn-primary btn-lg btn-block" type="submit" style="width: 40%;height: inherit;margin-left: 25%; margin-bottom: 5%; background-color: #6930f6">
       <h3 style="font-family: Arial, Helvetica, sans-serif; padding: 0%; margin: 0%; font-weight: 700; color: white">Submit responses</h3>
    </button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>